<h1>Add a doctors</h1>

<p>Add a doctors here:</p>

<form action="/doctors" method="post">
  <div class="form-group">
    <label for="name">Doctors name</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>
    <button type="submit" class="btn btn-success">Add doctors</button>
</form>
