<h1>Add new Recipe</h1>

<form action="/recipe/new" method="post">

  Name of the dish: <input name="name" type="text" />

  ingredients: <textarea name="ingredients"></textarea>

  instructions: <textarea name="instructions"></textarea>

</form>
